--
-- Create an empty database to store an instance of the Turbulence library
--
CREATE DATABASE [turblib] ON  PRIMARY 
( NAME = N'turblib', FILENAME = N'C:\data\data1\sql_db\turblib.mdf' , SIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'turblib_log', FILENAME = N'C:\data\data1\sql_db\turblib_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
--ALTER DATABASE [turblib] SET COMPATIBILITY_LEVEL = 100
--GO
ALTER DATABASE [turblib] SET ANSI_NULL_DEFAULT OFF 
GO
USE [turblib]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [turblib] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
CREATE USER [turbquery] FOR LOGIN [turbquery]
GO

sp_configure 'clr enabled', 1
GO
RECONFIGURE
GO

--USE [master]
--GO
--DROP DATABASE [turblib]
