USE [channeldb10]
GO
/****** Object:  Table [dbo].[p_24]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_24](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_24] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG24]
) ON [FG24]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_23]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_23](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_23] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG23]
) ON [FG23]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_22]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_22](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_22] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG22]
) ON [FG22]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_21]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_21](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_21] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG21]
) ON [FG21]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_20]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_20](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_20] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG20]
) ON [FG20]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_19]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_19](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_19] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG19]
) ON [FG19]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_18]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_18](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_18] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG18]
) ON [FG18]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_17]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_17](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_17] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG17]
) ON [FG17]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_16]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_16](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_16] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG16]
) ON [FG16]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_15]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_15](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_15] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG15]
) ON [FG15]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_14]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_14](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_14] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG14]
) ON [FG14]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_13]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_13](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_13] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG13]
) ON [FG13]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_12]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_12](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_12] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG12]
) ON [FG12]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_11]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_11](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_11] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG11]
) ON [FG11]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_10]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_10](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_10] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG10]
) ON [FG10]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_09]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_09](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_9] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG09]
) ON [FG09]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_08]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_08](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_8] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG08]
) ON [FG08]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_07]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_07](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_7] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG07]
) ON [FG07]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_06]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_06](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_6] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG06]
) ON [FG06]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_05]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_05](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_5] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG05]
) ON [FG05]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_04]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_04](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_4] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG04]
) ON [FG04]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_03]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_03](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_3] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG03]
) ON [FG03]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_02]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_02](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_2] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG02]
) ON [FG02]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[p_01]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_01](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_p_1] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG01]
) ON [FG01]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[zindex]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zindex](
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[Z] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
 CONSTRAINT [pk_zindex] PRIMARY KEY CLUSTERED 
(
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = ON, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [zindex_x_y_z] ON [dbo].[zindex] 
(
	[X] ASC,
	[Y] ASC,
	[Z] ASC
)
INCLUDE ( [zindex]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vel_24]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_24](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_24] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG24]
) ON [FG24]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_23]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_23](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_23] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG23]
) ON [FG23]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_22]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_22](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_22] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG22]
) ON [FG22]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_21]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_21](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_21] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG21]
) ON [FG21]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_20]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_20](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_20] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG20]
) ON [FG20]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_19]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_19](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_19] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG19]
) ON [FG19]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_18]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_18](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_18] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG18]
) ON [FG18]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_17]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_17](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_17] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG17]
) ON [FG17]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_16]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_16](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_16] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG16]
) ON [FG16]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_15]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_15](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_15] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG15]
) ON [FG15]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_14]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_14](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_14] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG14]
) ON [FG14]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_13]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_13](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_13] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG13]
) ON [FG13]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_12]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_12](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_12] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG12]
) ON [FG12]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_11]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_11](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_11] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG11]
) ON [FG11]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_10]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_10](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_10] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG10]
) ON [FG10]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_09]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_09](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_9] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG09]
) ON [FG09]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_08]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_08](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_8] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG08]
) ON [FG08]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_07]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_07](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_7] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG07]
) ON [FG07]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_06]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_06](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_6] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG06]
) ON [FG06]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_05]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_05](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_5] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG05]
) ON [FG05]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_04]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_04](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_4] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG04]
) ON [FG04]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_03]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_03](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_3] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG03]
) ON [FG03]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_02]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_02](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_2] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG02]
) ON [FG02]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel_01]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel_01](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_1] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG01]
) ON [FG01]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[switch_vel_23]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[switch_vel_23](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_switch_vel_23] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [FG23]
) ON [FG23]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](2072) NOT NULL,
 CONSTRAINT [pk_pr_time_zindex] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [zindexPartScheme]([zindex])
) ON [zindexPartScheme]([zindex])
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vel]    Script Date: 12/08/2015 16:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vel](
	[timestep] [int] NOT NULL,
	[zindex] [bigint] NOT NULL,
	[data] [varbinary](6168) NOT NULL,
 CONSTRAINT [pk_vel_time_zindex] PRIMARY KEY CLUSTERED 
(
	[timestep] ASC,
	[zindex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [zindexPartScheme]([zindex])
) ON [zindexPartScheme]([zindex])
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [ck_p1]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_01]  WITH CHECK ADD  CONSTRAINT [ck_p1] CHECK  (([zindex]<=(4434777428.)))
GO
ALTER TABLE [dbo].[p_01] CHECK CONSTRAINT [ck_p1]
GO
/****** Object:  Check [ck_p2]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_02]  WITH CHECK ADD  CONSTRAINT [ck_p2] CHECK  (([zindex]>=(4434777429.) AND [zindex]<=(4440369833.)))
GO
ALTER TABLE [dbo].[p_02] CHECK CONSTRAINT [ck_p2]
GO
/****** Object:  Check [ck_p3]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_03]  WITH CHECK ADD  CONSTRAINT [ck_p3] CHECK  (([zindex]>=(4440369834.) AND [zindex]<=(4445962238.)))
GO
ALTER TABLE [dbo].[p_03] CHECK CONSTRAINT [ck_p3]
GO
/****** Object:  Check [ck_p4]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_04]  WITH CHECK ADD  CONSTRAINT [ck_p4] CHECK  (([zindex]>=(4445962239.) AND [zindex]<=(4451554643.)))
GO
ALTER TABLE [dbo].[p_04] CHECK CONSTRAINT [ck_p4]
GO
/****** Object:  Check [ck_p5]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_05]  WITH CHECK ADD  CONSTRAINT [ck_p5] CHECK  (([zindex]>=(4451554644.) AND [zindex]<=(4457147048.)))
GO
ALTER TABLE [dbo].[p_05] CHECK CONSTRAINT [ck_p5]
GO
/****** Object:  Check [ck_p6]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_06]  WITH CHECK ADD  CONSTRAINT [ck_p6] CHECK  (([zindex]>=(4457147049.) AND [zindex]<=(4462739453.)))
GO
ALTER TABLE [dbo].[p_06] CHECK CONSTRAINT [ck_p6]
GO
/****** Object:  Check [ck_p7]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_07]  WITH CHECK ADD  CONSTRAINT [ck_p7] CHECK  (([zindex]>=(4462739454.) AND [zindex]<=(4468331858.)))
GO
ALTER TABLE [dbo].[p_07] CHECK CONSTRAINT [ck_p7]
GO
/****** Object:  Check [ck_p8]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_08]  WITH CHECK ADD  CONSTRAINT [ck_p8] CHECK  (([zindex]>=(4468331859.) AND [zindex]<=(4473924263.)))
GO
ALTER TABLE [dbo].[p_08] CHECK CONSTRAINT [ck_p8]
GO
/****** Object:  Check [ck_p9]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_09]  WITH CHECK ADD  CONSTRAINT [ck_p9] CHECK  (([zindex]>=(4473924264.) AND [zindex]<=(4479516668.)))
GO
ALTER TABLE [dbo].[p_09] CHECK CONSTRAINT [ck_p9]
GO
/****** Object:  Check [ck_p10]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_10]  WITH CHECK ADD  CONSTRAINT [ck_p10] CHECK  (([zindex]>=(4479516669.) AND [zindex]<=(4485109073.)))
GO
ALTER TABLE [dbo].[p_10] CHECK CONSTRAINT [ck_p10]
GO
/****** Object:  Check [ck_p11]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_11]  WITH CHECK ADD  CONSTRAINT [ck_p11] CHECK  (([zindex]>=(4485109074.) AND [zindex]<=(4490701478.)))
GO
ALTER TABLE [dbo].[p_11] CHECK CONSTRAINT [ck_p11]
GO
/****** Object:  Check [ck_p12]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_12]  WITH CHECK ADD  CONSTRAINT [ck_p12] CHECK  (([zindex]>=(4490701479.) AND [zindex]<=(4496293883.)))
GO
ALTER TABLE [dbo].[p_12] CHECK CONSTRAINT [ck_p12]
GO
/****** Object:  Check [ck_p13]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_13]  WITH CHECK ADD  CONSTRAINT [ck_p13] CHECK  (([zindex]>=(4496293884.) AND [zindex]<=(4501886288.)))
GO
ALTER TABLE [dbo].[p_13] CHECK CONSTRAINT [ck_p13]
GO
/****** Object:  Check [ck_p14]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_14]  WITH CHECK ADD  CONSTRAINT [ck_p14] CHECK  (([zindex]>=(4501886289.) AND [zindex]<=(4507478693.)))
GO
ALTER TABLE [dbo].[p_14] CHECK CONSTRAINT [ck_p14]
GO
/****** Object:  Check [ck_p15]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_15]  WITH CHECK ADD  CONSTRAINT [ck_p15] CHECK  (([zindex]>=(4507478694.) AND [zindex]<=(4513071098.)))
GO
ALTER TABLE [dbo].[p_15] CHECK CONSTRAINT [ck_p15]
GO
/****** Object:  Check [ck_p16]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_16]  WITH CHECK ADD  CONSTRAINT [ck_p16] CHECK  (([zindex]>=(4513071099.) AND [zindex]<=(4518663503.)))
GO
ALTER TABLE [dbo].[p_16] CHECK CONSTRAINT [ck_p16]
GO
/****** Object:  Check [ck_p17]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_17]  WITH CHECK ADD  CONSTRAINT [ck_p17] CHECK  (([zindex]>=(4518663504.) AND [zindex]<=(4524255908.)))
GO
ALTER TABLE [dbo].[p_17] CHECK CONSTRAINT [ck_p17]
GO
/****** Object:  Check [ck_p18]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_18]  WITH CHECK ADD  CONSTRAINT [ck_p18] CHECK  (([zindex]>=(4524255909.) AND [zindex]<=(4529848313.)))
GO
ALTER TABLE [dbo].[p_18] CHECK CONSTRAINT [ck_p18]
GO
/****** Object:  Check [ck_p19]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_19]  WITH CHECK ADD  CONSTRAINT [ck_p19] CHECK  (([zindex]>=(4529848314.) AND [zindex]<=(4535440718.)))
GO
ALTER TABLE [dbo].[p_19] CHECK CONSTRAINT [ck_p19]
GO
/****** Object:  Check [ck_p20]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_20]  WITH CHECK ADD  CONSTRAINT [ck_p20] CHECK  (([zindex]>=(4535440719.) AND [zindex]<=(4541033123.)))
GO
ALTER TABLE [dbo].[p_20] CHECK CONSTRAINT [ck_p20]
GO
/****** Object:  Check [ck_p21]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_21]  WITH CHECK ADD  CONSTRAINT [ck_p21] CHECK  (([zindex]>=(4541033124.) AND [zindex]<=(4546625528.)))
GO
ALTER TABLE [dbo].[p_21] CHECK CONSTRAINT [ck_p21]
GO
/****** Object:  Check [ck_p22]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_22]  WITH CHECK ADD  CONSTRAINT [ck_p22] CHECK  (([zindex]>=(4546625529.) AND [zindex]<=(4552217933.)))
GO
ALTER TABLE [dbo].[p_22] CHECK CONSTRAINT [ck_p22]
GO
/****** Object:  Check [ck_p23]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_23]  WITH CHECK ADD  CONSTRAINT [ck_p23] CHECK  (([zindex]>=(4552217934.) AND [zindex]<=(4557810338.)))
GO
ALTER TABLE [dbo].[p_23] CHECK CONSTRAINT [ck_p23]
GO
/****** Object:  Check [ck_p24]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[p_24]  WITH CHECK ADD  CONSTRAINT [ck_p24] CHECK  (([zindex]>=(4557810339.)))
GO
ALTER TABLE [dbo].[p_24] CHECK CONSTRAINT [ck_p24]
GO
/****** Object:  Check [ck_switch_vel23]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[switch_vel_23]  WITH CHECK ADD  CONSTRAINT [ck_switch_vel23] CHECK  (([zindex]>=(4552217934.) AND [zindex]<=(4557810338.)))
GO
ALTER TABLE [dbo].[switch_vel_23] CHECK CONSTRAINT [ck_switch_vel23]
GO
/****** Object:  Check [ck_vel1]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_01]  WITH CHECK ADD  CONSTRAINT [ck_vel1] CHECK  (([zindex]<=(4434777428.)))
GO
ALTER TABLE [dbo].[vel_01] CHECK CONSTRAINT [ck_vel1]
GO
/****** Object:  Check [ck_vel2]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_02]  WITH CHECK ADD  CONSTRAINT [ck_vel2] CHECK  (([zindex]>=(4434777429.) AND [zindex]<=(4440369833.)))
GO
ALTER TABLE [dbo].[vel_02] CHECK CONSTRAINT [ck_vel2]
GO
/****** Object:  Check [ck_vel3]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_03]  WITH CHECK ADD  CONSTRAINT [ck_vel3] CHECK  (([zindex]>=(4440369834.) AND [zindex]<=(4445962238.)))
GO
ALTER TABLE [dbo].[vel_03] CHECK CONSTRAINT [ck_vel3]
GO
/****** Object:  Check [ck_vel4]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_04]  WITH CHECK ADD  CONSTRAINT [ck_vel4] CHECK  (([zindex]>=(4445962239.) AND [zindex]<=(4451554643.)))
GO
ALTER TABLE [dbo].[vel_04] CHECK CONSTRAINT [ck_vel4]
GO
/****** Object:  Check [ck_vel5]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_05]  WITH CHECK ADD  CONSTRAINT [ck_vel5] CHECK  (([zindex]>=(4451554644.) AND [zindex]<=(4457147048.)))
GO
ALTER TABLE [dbo].[vel_05] CHECK CONSTRAINT [ck_vel5]
GO
/****** Object:  Check [ck_vel6]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_06]  WITH CHECK ADD  CONSTRAINT [ck_vel6] CHECK  (([zindex]>=(4457147049.) AND [zindex]<=(4462739453.)))
GO
ALTER TABLE [dbo].[vel_06] CHECK CONSTRAINT [ck_vel6]
GO
/****** Object:  Check [ck_vel7]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_07]  WITH CHECK ADD  CONSTRAINT [ck_vel7] CHECK  (([zindex]>=(4462739454.) AND [zindex]<=(4468331858.)))
GO
ALTER TABLE [dbo].[vel_07] CHECK CONSTRAINT [ck_vel7]
GO
/****** Object:  Check [ck_vel8]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_08]  WITH CHECK ADD  CONSTRAINT [ck_vel8] CHECK  (([zindex]>=(4468331859.) AND [zindex]<=(4473924263.)))
GO
ALTER TABLE [dbo].[vel_08] CHECK CONSTRAINT [ck_vel8]
GO
/****** Object:  Check [ck_vel9]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_09]  WITH CHECK ADD  CONSTRAINT [ck_vel9] CHECK  (([zindex]>=(4473924264.) AND [zindex]<=(4479516668.)))
GO
ALTER TABLE [dbo].[vel_09] CHECK CONSTRAINT [ck_vel9]
GO
/****** Object:  Check [ck_vel10]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_10]  WITH CHECK ADD  CONSTRAINT [ck_vel10] CHECK  (([zindex]>=(4479516669.) AND [zindex]<=(4485109073.)))
GO
ALTER TABLE [dbo].[vel_10] CHECK CONSTRAINT [ck_vel10]
GO
/****** Object:  Check [ck_vel11]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_11]  WITH CHECK ADD  CONSTRAINT [ck_vel11] CHECK  (([zindex]>=(4485109074.) AND [zindex]<=(4490701478.)))
GO
ALTER TABLE [dbo].[vel_11] CHECK CONSTRAINT [ck_vel11]
GO
/****** Object:  Check [ck_vel12]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_12]  WITH CHECK ADD  CONSTRAINT [ck_vel12] CHECK  (([zindex]>=(4490701479.) AND [zindex]<=(4496293883.)))
GO
ALTER TABLE [dbo].[vel_12] CHECK CONSTRAINT [ck_vel12]
GO
/****** Object:  Check [ck_vel13]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_13]  WITH CHECK ADD  CONSTRAINT [ck_vel13] CHECK  (([zindex]>=(4496293884.) AND [zindex]<=(4501886288.)))
GO
ALTER TABLE [dbo].[vel_13] CHECK CONSTRAINT [ck_vel13]
GO
/****** Object:  Check [ck_vel14]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_14]  WITH CHECK ADD  CONSTRAINT [ck_vel14] CHECK  (([zindex]>=(4501886289.) AND [zindex]<=(4507478693.)))
GO
ALTER TABLE [dbo].[vel_14] CHECK CONSTRAINT [ck_vel14]
GO
/****** Object:  Check [ck_vel15]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_15]  WITH CHECK ADD  CONSTRAINT [ck_vel15] CHECK  (([zindex]>=(4507478694.) AND [zindex]<=(4513071098.)))
GO
ALTER TABLE [dbo].[vel_15] CHECK CONSTRAINT [ck_vel15]
GO
/****** Object:  Check [ck_vel16]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_16]  WITH CHECK ADD  CONSTRAINT [ck_vel16] CHECK  (([zindex]>=(4513071099.) AND [zindex]<=(4518663503.)))
GO
ALTER TABLE [dbo].[vel_16] CHECK CONSTRAINT [ck_vel16]
GO
/****** Object:  Check [ck_vel17]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_17]  WITH CHECK ADD  CONSTRAINT [ck_vel17] CHECK  (([zindex]>=(4518663504.) AND [zindex]<=(4524255908.)))
GO
ALTER TABLE [dbo].[vel_17] CHECK CONSTRAINT [ck_vel17]
GO
/****** Object:  Check [ck_vel18]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_18]  WITH CHECK ADD  CONSTRAINT [ck_vel18] CHECK  (([zindex]>=(4524255909.) AND [zindex]<=(4529848313.)))
GO
ALTER TABLE [dbo].[vel_18] CHECK CONSTRAINT [ck_vel18]
GO
/****** Object:  Check [ck_vel19]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_19]  WITH CHECK ADD  CONSTRAINT [ck_vel19] CHECK  (([zindex]>=(4529848314.) AND [zindex]<=(4535440718.)))
GO
ALTER TABLE [dbo].[vel_19] CHECK CONSTRAINT [ck_vel19]
GO
/****** Object:  Check [ck_vel20]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_20]  WITH CHECK ADD  CONSTRAINT [ck_vel20] CHECK  (([zindex]>=(4535440719.) AND [zindex]<=(4541033123.)))
GO
ALTER TABLE [dbo].[vel_20] CHECK CONSTRAINT [ck_vel20]
GO
/****** Object:  Check [ck_vel21]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_21]  WITH CHECK ADD  CONSTRAINT [ck_vel21] CHECK  (([zindex]>=(4541033124.) AND [zindex]<=(4546625528.)))
GO
ALTER TABLE [dbo].[vel_21] CHECK CONSTRAINT [ck_vel21]
GO
/****** Object:  Check [ck_vel22]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_22]  WITH CHECK ADD  CONSTRAINT [ck_vel22] CHECK  (([zindex]>=(4546625529.) AND [zindex]<=(4552217933.)))
GO
ALTER TABLE [dbo].[vel_22] CHECK CONSTRAINT [ck_vel22]
GO
/****** Object:  Check [ck_vel23]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_23]  WITH CHECK ADD  CONSTRAINT [ck_vel23] CHECK  (([zindex]>=(4552217934.) AND [zindex]<=(4557810338.)))
GO
ALTER TABLE [dbo].[vel_23] CHECK CONSTRAINT [ck_vel23]
GO
/****** Object:  Check [ck_vel24]    Script Date: 12/08/2015 16:14:30 ******/
ALTER TABLE [dbo].[vel_24]  WITH CHECK ADD  CONSTRAINT [ck_vel24] CHECK  (([zindex]>=(4557810339.)))
GO
ALTER TABLE [dbo].[vel_24] CHECK CONSTRAINT [ck_vel24]
GO
