*.exe
/Turbulence/WebSite/web.config
/Turbulence/CutoutService/Web.config
/Turbulence/CutoutService/Web.Debug.config
/Turbulence/CutoutService/Web.Release.config
Website.Publish.xml
Web.config
Web.Debug.config
Web.Release.config
/Turbulence/Website/bin/*
/Turbulence/Website/obj/*
*.dll
*.pdb
CutoutService.Publish.xml
Turbulence/ImportChannelFlowData/bin/*
Turbulence/ImportChannelFlowData/obj/*
Turbulence/ImportData/bin/*
Turbulence/ImportData/obj/*
Turbulence/TestApp/bin/*
Turbulence/TestApp/obj/*
Turbulence/Turbulence/bin/*
Turbulence/Turbulence/obj/*
Turbulence/TurbulenceWebServiceLibrary/obj/*
Turbulence/TurbulenceWebServiceLibrary/bin/*
Turbulence/CutoutService/obj/*
Turbulence/CutoutService/bin/*
Turbulence/Turbulence.suo
/Turbulence/Website/Website.csproj
/Turbulence/CutoutService/CutoutService.csproj.user
ParticleTracking/ParticleTrackingTestClient/app.config
/Turbulence/DatabaseCutout/DatabaseCutout.csproj.user
