<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/webquery/query.aspx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="turbinfo_test_conn" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=sciserver02;Database=turbinfo_test;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\turbinfo_test_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=sciserver02;Database=turbinfo_test;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="turbinfo_conn" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=gw01;Database=turbinfo;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\turbinfo_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=gw01;Database=turbinfo;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="turblog_conn" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=sciserver02;Database=turblog;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\turblog_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=sciserver02;Database=turblog;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="turbinfo_backup_conn" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=gw01;Database=turbinfo;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\turbinfo_backup_conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=gw01;Database=turbinfo;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)turbinfo_backup_conn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)turbinfo_conn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)turbinfo_test_conn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)turblog_conn-Web.config Connection String" />
  </ItemGroup>
</Project>