<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="turbinfo" connectionString="Server=mydbsql;Database=Turbinfo;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" />
    <add name="turbinfo_test" connectionString="Server=sciserver02;Database=turbinfo_test;Asynchronous Processing=true;User ID=turbweb;Password=zz9b0t53xxo;Pooling=true;Max Pool Size=250;Min Pool Size=20;Connection Lifetime=7200" />
  </connectionStrings>
  <appSettings>
    <add key="edu.jhu.pha.turbulence.turbulence" value="http://turbulence.pha.jhu.edu/service/turbulence.asmx" />
    <add key="turbquery_uid" value="turbquery" />
    <add key="turbquery_password" value="aa2465ways2k" />
    <add key="turbinfo_uid" value="turbweb" />
    <add key="turbinfo_password" value="zz9b0t53xxo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <TestApp.Properties.Settings>
      <setting name="TestApp_turbulence_TurbulenceService" serializeAs="String">
        <value>http://turbulence.pha.jhu.edu/service/turbulence.asmx</value>
      </setting>
    </TestApp.Properties.Settings>
  </applicationSettings>
</configuration>