<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TurbulenceServiceSoap" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="67108864" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://turbulence.pha.jhu.edu/service/turbulence.asmx"
        binding="basicHttpBinding" bindingConfiguration="TurbulenceServiceSoap"
        contract="JHTDB_service.TurbulenceServiceSoap" name="TurbulenceServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>