<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" closeTimeout="10:00:00"
                 maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="10000000" maxBytesPerRead="2147483647" maxStringContentLength="2147483647"/>
          <reliableSession inactivityTimeout="10:00:00" />
          <!--<security mode="None">
                      <transport clientCredentialType="None" protectionLevel="None" />
                      <message clientCredentialType="None" />
                    </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ParticleTracking.ParticleTrackingService">
        <endpoint address="ParticleTrackingService" binding="netTcpBinding"
            bindingConfiguration="" contract="ParticleTracking.IParticleTrackingService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>