use TurbScratch


select count(*) from wsid_1539980082.isotropic1024FineFiltered3_vel
select count(*) from wsid_1539980082.isotropic1024FineFiltered4_vel

select top 10 * from wsid_1539980082.isotropic1024FineFiltered3_vel
select top 10 * from wsid_1539980082.isotropic1024FineFiltered4_vel