USE [turbinfo]
GO
/****** Object:  Table [dbo].[FieldDescriptions]    Script Date: 4/2/2015 5:39:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FieldDescriptions](
	[FieldDescriptionID] [int] NOT NULL,
	[DatafieldID] [int] NOT NULL,
	[name] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FieldDescriptions] ([FieldDescriptionID], [DatafieldID], [name]) VALUES (1, 1, N'Ux')
GO
INSERT [dbo].[FieldDescriptions] ([FieldDescriptionID], [DatafieldID], [name]) VALUES (2, 1, N'Uy')
GO
INSERT [dbo].[FieldDescriptions] ([FieldDescriptionID], [DatafieldID], [name]) VALUES (3, 1, N'Uz')
GO
